<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.lv.market.dao.CustomerDao">
	<resultMap type="me.lv.market.pojo.Customer" id="customerResultMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="username" property="username" jdbcType="VARCHAR" />
		<result column="nickname" property="nickname" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="isdelete" property="isdelete" jdbcType="VARCHAR" />
		<association property="getAdress" column="id" javaType="me.lv.market.pojo.GetAdress"
			select="getGetAdressByCusId" />
	</resultMap>

	<select id="getCustomerById" parameterType="int" resultMap="customerResultMap">
		select * from customer where id = #{id}
	</select>

	<select id="getGetAdressByCusId" parameterType="int"
		resultType="me.lv.market.pojo.GetAdress">
		select id, adress, getname, getphone from `getadress` where
		customer_id = #{id}
	</select>

</mapper>